@use 'src/utils/variables' as *;

.prompt {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  white-space: pre;

  .inverted {
    background-color: $text-primary;
    color: $background-primary;
  }
}
