@use "src/utils/variables" as *;

.terminal {
  border: 1px solid red;

  width: 50%;
  height: 50%;
  margin: 0 auto;

  .output {
    border: 1px solid green;

    display: inline-block;
    margin: 2rem auto 0;
    text-align: left;
  }
}

.hidden-input {
  border: 1px solid blue;

  position: absolute;
  // border: none;
  background-color: $background-primary;
  color: $text-primary;
  text-align: center;
  // caret-color: transparent;

  &:focus {
    outline: none;
  }
}
