@use 'src/utils/variables' as *;

.terminal {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding-right: 1rem;
}

.hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  cursor: default;
  background-color: $background-primary;
  color: transparent;
  caret-color: transparent;

  &:focus {
    outline: none;
  }
}
