@use 'src/utils/variables' as *;

.terminal {
  border: 1px solid red;

  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.hidden-input {
  border: 1px solid blue;
  caret-color: $text-primary;
  color: $text-primary;

  position: absolute;
  top: 0;
  left: 0;
  // border: none;
  background-color: $background-primary;
  // color: transparent;
  text-align: center;
  // caret-color: transparent;

  &:focus {
    outline: none;
  }
}
